pkgbase = gildas
	pkgdesc = GILDAS
	pkgver = 2024.05.a
	pkgrel = 1
	url = https://www.iram.fr/IRAMFR/GILDAS/
	arch = x86_64
	license = custom
	makedepends = python
	makedepends = python-setuptools
	makedepends = python-numpy
	makedepends = which
	depends = gcc-fortran
	depends = cfitsio
	depends = gtk2
	optdepends = python-numpy
	options = !strip
	source = https://www.iram.fr/~gildas/dist/gildas-src-may24a.tar.xz
	sha512sums = 313d35c9ecb72b17f645fb782cf41a4872172ded6c57bf52d2e08d5afdb02438c9e2f3107047a26f571f2c13f3e89b28190d985b8861b9f26710c6e4aa995e18

pkgname = gildas
