pkgbase = casa6-bin
	pkgdesc = NRAO's Common Astronomy Software Applications package
	pkgver = 6.7.3
	pkgrel = 1
	url = https://casa.nrao.edu/
	arch = x86_64
	license = GPL
	depends = lsb-release
	depends = libselinux
	depends = libxcrypt-compat
	provides = casa
	options = !strip
	source = https://casa.nrao.edu/download/distro/casa/release/rhel/casa-6.7.3-21-py3.12.el9.tar.xz
	md5sums = 703b4fc22438abb29e43fe2a2a1c5efb

pkgname = casa6-bin
